{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Company{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Employees:</h1> 
    <table class="table table-dark table-striped ">
        <thead class="thead-dark" >
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
            </tr>
          </thead>        

        <tbody>
         {% for employee in employees %}
         <tr>
              <td class="emp_name">{{ loop.index }}</td>

              <td class="emp_name">{{employee.name }}</td>
         </tr>
         {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}